doctype
html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    if env == 'prod'
      title Angular-xeditable :: Edit in place for AngularJS
      include scripts-prod.jade
    else
      title Dev
      include scripts-dev.jade

  body(data-spy="scroll", data-target=".sidebar")
    include navbar.jade

    - var res = {}
    - res['angular'] = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js'
    - res['xeditable-js'] = 'http://vitalets.github.io/angular-xeditable/dist/js/xeditable.js'
    - res['xeditable-css'] = 'http://vitalets.github.io/angular-xeditable/dist/css/xeditable.css'
    - res['bs3'] = 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'
    - res['bs2'] = 'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'
    - res['ui-bootstrap'] = 'http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js'
    - var defRes = ['angular'];
    - var defJs = ['xeditable-js'];
    - var defCss = ['xeditable-css'];
    - var defDeps = ['xeditable'];

    - var g, groups = []
    - groups.push({id: 'overview', text: 'Overview', items: []})
    - groups.push({id: 'getstarted', text: 'Get started', items: []})
    - groups.push({id: 'text-simple', text: 'Controls', items: []})
    - groups.push({id: 'validate-local', text: 'Validation', items: []})
    - groups.push({id: 'onbeforesave', text: 'Submit', items: []})
    - groups.push({id: 'editable-form', text: 'Forms', items: []})
    - groups.push({id: 'bootstrap3', text: 'Themes', items: []})

    - g = groups[2]
    - g.items.push({id: 'text-simple', text: 'Text'})
    - g.items.push({id: 'text-customize', text: 'Customize input'})
    - g.items.push({id: 'text-btn', text: 'Trigger manually'})
    - g.items.push({id: 'select-local', text: 'Select local'})
    - g.items.push({id: 'select-remote', text: 'Select remote'})
    - g.items.push({id: 'select-multiple', text: 'Select multiple'})
    - g.items.push({id: 'select-nobuttons', text: 'Select no buttons'})
    - g.items.push({id: 'textarea', text: 'Textarea'})
    - g.items.push({id: 'checkbox', text: 'Checkbox'})
    - g.items.push({id: 'bsdate', text: 'Date', res: ['bs2'], js: ['ui-bootstrap'], deps: ['ui.bootstrap']})
    - g.items.push({id: 'bstime', text: 'Time', res: ['bs2'], js: ['ui-bootstrap'], deps: ['ui.bootstrap']})

    - g = groups[3]
    - g.items.push({id: 'validate-local', text: 'Validate local'})
    - g.items.push({id: 'validate-remote', text: 'Validate remote'})

    - g = groups[4]
    - g.items.push({id: 'onbeforesave', text: 'Onbeforesave'})
    - g.items.push({id: 'onaftersave', text: 'Onaftersave'})

    - g = groups[5]
    - g.items.push({id: 'editable-form', text: 'Editable form', nodebug: true})
    - g.items.push({id: 'editable-row', text: 'Editable row', nodebug: true})
    - g.items.push({id: 'editable-column', text: 'Editable column', nodebug: true})
    - g.items.push({id: 'editable-table', text: 'Editable table', nodebug: true})

    - g = groups[6]
    - g.items.push({id: 'bootstrap3', text: 'Bootstrap 3'})
    - g.items.push({id: 'bootstrap2', text: 'Bootstrap 2'})
    - g.items.push({id: 'default', text: 'Default'})


    .container
      .row
        .col-sm-3.col-xs-12
          .well.sidebar
            ul.nav
              each g in groups
                li
                  a(href="#"+g.id)= g.text
                  ul.nav
                    each item in g.items
                      li: a(href="#"+item.id)= item.text

        .col-sm-9.col-xs-12

          mixin demo(item)
            - var brief = item.id
            section(id=brief)
              h1= item.text
              - var dir = "docs/demos/"+brief
              - var desc = fs.readFileSync(dir+"/desc.md").toString()
              - var view = fs.readFileSync(dir+"/view.html").toString().trim()
              - var viewDebug = view

              // resources
              - var cRes = defRes.concat(item.res || ['bs3'])
              - var cResString = cRes.map(function(v){ return res[v];}).join(',\n')

              // html prefix
              - var htmlPrefix = '<!-- scripts -->\n'
              - htmlPrefix += defCss.concat(item.css || []).map(function(v){ return '<link href="'+res[v]+'" rel="stylesheet">';}).join('\n')
              - htmlPrefix += defJs.concat(item.js || []).map(function(v){ return '<script src="'+res[v]+'"></script>';}).join('\n')

              - htmlPrefix += '\n\n<!-- markup -->\n';
              - htmlPrefix += '<h3>Angular-xeditable: '+ item.text + '</h3>\n';
              - htmlPrefix += '<div>Press <b>Run..</b></div>\n';

              // js prefix
              - var jsPrefix = []
              - jsPrefix[0] = 'var app = angular.module("app", ["'+defDeps.concat(item.deps||[]).join('", "')+'"]);' 
              - jsPrefix[1] = 'app.run(function(editableOptions) {'
              - jsPrefix[2] = '  editableOptions.theme = "'+(~cRes.indexOf('bs2') ? 'bs2' : 'bs3')+'";'
              - jsPrefix[3] = '});\n\n'
              - jsPrefix = jsPrefix.join("\n")

              //- viewDebug = view.replace(/<\/div>$/i, '<span class="pull-right">user: <pre>{{user|json}}</pre></span>\n</div>')
              - var ctrl = fs.readFileSync(dir+"/controller.js").toString().trim()
              // watch change of user to update rootScope for debugging
              - var ctrlDebug = item.nodebug ? ctrl : ctrl.replace(/\}\);$/i, '$scope.$watch("user", function(v) { $scope.$parent.debug["'+brief+'"]=v; }); });')

              h3 demo

              //add jsfiddle button
              form.fiddle.pull-right(action="http://jsfiddle.net/api/post/library/pure/", method="post", target="_blank", ng-non-bindable)
                input(type="hidden", name="title", value="Angular-xeditable")
                input(type="hidden", name="wrap", value="h")
                textarea(name="resources")= cResString
                textarea(name="html")= htmlPrefix + view.replace('ng-controller', 'ng-app="app" ng-controller')
                textarea(name="js")= jsPrefix+ctrl
                textarea(name="css") div[ng-app] { margin: 100px; }
                button.btn.btn-info(type="submit") Edit jsFiddle

              .well.line-example!= viewDebug

              if !item.nodebug
                pre!= '{{ debug["'+brief+'"] | json }}'
              p!= md(desc)
              //script(src=dir+'/controller.js')
              script!= ctrlDebug
              h3 html
              pre.prettyprint.ng-non-bindable= view
              h3 controller.js
              pre.prettyprint= ctrl

          section#overview
            include overview.jade

          section#getstarted
            include getstarted.jade

          - for(var i=2; i<=5; i++)
            - var g = groups[i]
            each item in g.items
              +demo(item)

          include themes.jade

    footer
      hr
      p &copy; Vitaliy Potapov 2013. Released under the MIT license

    if env == 'prod'
      include metrika.html


